/* TARGETING ELEMENTS: TAGS */

p{
    font-size: 12px;
    color: red;
}

a{
    text-decoration: underline;
    color: blue;
}

h1{
    font-size: 40px;
}

div{
    width: 100%;
    background-color: aqua;
}